.background {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  text-align: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.button {
  color: white;
  background-color: #0b69ff;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  outline: none;
}

.card {
  background-color: white;
  text-align: center;
  color: #333333;
  font-family: Roboto;
}
