.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.header {
  display: flex;
  flex-direction: row;
}

.comment {
  color: black;
  font-family: Roboto;
}

.icon {
  border-radius: 20px;
  color: white;
}
