.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-img {
  height: 250px;
  margin: 10px;
}

@media screen and (min-width: 992px) {
  .failure-img {
    height: 300px;
    margin: 20px;
  }
}

.retry-button {
  background-color: #4656a1;
  color: #ffffff;
  height: 36px;
  padding: 8px 24px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}
