.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.not-found-image {
  height: 250px;
  width: 300px;
  margin: 10px;
}

.page-not-found {
  margin-top: 0;
  font-family: 'Consolas';
  font-size: 25px;
  color: #475569;
}

.message-not-found {
  margin-top: 0;
  font-family: 'Consolas';
  color: #64748b;
}
